<div class="cv-section cv-fixed">		
			<h2 class="cv-section-name">Technical Skills</h2>			
			<div class="cv-section-items">				
				<div class="item">
					<h4>Expert, 4 years</h4>
					<h2>XHTML CSS</h2>
					<br>
					<p>Cras non nunc nisl. Mauris pretium auctor ornare. Proin sit amet erat
					 consectetur massa suscipit congue. Pellentesque convallis rhoncus massa
					 vitae sagittis. </p>
				</div><!-- end .item -->
				
				<div class="item">
					<h4>Advanced, 2 years</h4>
					<h2>Javascript</h2>
					<br>
					<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
					 ridiculus mus. Proin sed elit a mauris pretium molestie.</p>
					<p>Aliquam fringilla ullamcorper sollicitudin. Nunc pharetra fermentum 
					suscipit.</p>
				</div><!-- end .item -->
				
				<div class="item last-item">
					<h4>Beginner, 1 year</h4>
					<h2>jQuery Framework</h2>
					<br>
					<p>In mauris urna, cursus eget condimentum ac, vestibulum nec magna.
					 Maecenas luctus interdum mauris, pellentesque semper quam sollicitudin eu.
					 Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
					<p>Pellentesque elementum hendrerit pretium. Nam a lacus risus. Ut purus
					leo, feugiat in volutpat non, ultricies vitae lectus.</p>	
				</div><!-- end .item -->
				
			</div><!-- end .cv-section-items -->
			
		</div>

<div class="cv-section cv-fixed">		
			<h2 class="cv-section-name">Work Experience</h2>			
			<div class="cv-section-items">				
				<div class="item">
					<h4>Expert, 4 years</h4>
					<h2>XHTML CSS</h2>
					<h3>Dev for life</h3>
					<br>
					<p>Cras non nunc nisl. Mauris pretium auctor ornare. Proin sit amet erat
					 consectetur massa suscipit congue. Pellentesque convallis rhoncus massa
					 vitae sagittis. </p>
				</div><!-- end .item -->
				
				<div class="item">
					<h4>Advanced, 2 years</h4>
					<h2>Javascript</h2>
					<br>
					<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
					 ridiculus mus. Proin sed elit a mauris pretium molestie.</p>
					<p>Aliquam fringilla ullamcorper sollicitudin. Nunc pharetra fermentum 
					suscipit.</p>
				</div><!-- end .item -->
				
				<div class="item last-item">
					<h4>Beginner, 1 year</h4>
					<h2>jQuery Framework</h2>
					<br>
					<p>In mauris urna, cursus eget condimentum ac, vestibulum nec magna.
					 Maecenas luctus interdum mauris, pellentesque semper quam sollicitudin eu.
					 Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
					<p>Pellentesque elementum hendrerit pretium. Nam a lacus risus. Ut purus
					leo, feugiat in volutpat non, ultricies vitae lectus.</p>	
				</div><!-- end .item -->
				
			</div><!-- end .cv-section-items -->
			
		</div>